<form method="post" action="{{ path('app_voyage_excursion_delete', {'id': voyage_excursion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ voyage_excursion.id) }}">
    <button class="btn">Delete</button>
</form>
